*{
    margin: 0;
    padding: 0;
    font-family: 'Yusei Magic', sans-serif;
    color: indigo;
}

body{
    /* min-height: 100vh; */
    background-color: rgb(240, 240, 220);
    margin-top: 130px;
}

nav{
    background-color: white;
    color: indigo;
    /* padding: 10px 30px; */
    display: flex;
    box-shadow: 0px -4px 40px 0px rgb(20,20,20);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
nav div{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    transition: all .5s;
}
nav div:nth-child(1){
    justify-content: flex-start;
    background-color: white;
    position: relative;
    z-index: 3;
}
nav div, nav a{
    position: relative;
}
#hamburgerBtn{
    height: 100%;
    padding: 5px;
    cursor: pointer;
    display: none;
    /* position: absolute;
    right: 0; */
}
nav div i span{
    /* position: relative;
    top: 0;
    display: block; */
    background-color: indigo;
    width: 30px;
    height: 3px;
    border: indigo;
    transition: all .3s;
}

nav div i span:nth-child(1){margin: 4px 0;}
nav div i span:nth-child(2){margin: 4px 0;}

nav a{
    background-color: rgba(220,200,240,0.5);
    border-bottom: 2px indigo solid;
    text-decoration: none;
    text-align: center;
    margin: 2px;
    padding: 20px;
    cursor: pointer;
    transition: all .3s;
}
nav a:hover{
    color: white;
    background-color: indigo;/* Antiguo color : rgb(174, 64, 96) */
}

main #main-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1,h2{
    text-align: center;
    /* Alt colors: mediumvioletred - darkmagenta - purple - indigo - palevioletred */
}

#links-section{
    width: 60%;
    background-color: rgba(214, 124, 66,0.7);
    padding: 10px 4px;
    border: 1px brown solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Nuevo diseño */
.card-full{
    /* display: block; */
    color: white;
    margin: 20px 0;
    padding: 30px;
    /* border-radius: 10px; */
}
.card-full *{
    color: white;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.5s;
}
.card-full a{
    /* display: block; */
    text-align: center;
    width: 480px;
    margin: 10px;
    padding: 4px 10px;
    box-shadow: 0px 0px 10px 0px rgb(20,20,20) inset;
}
.card-full a:hover{
    opacity: 1;
    /* padding: 4px 30px; */
    /* border-radius: 30px; */
    box-shadow: 0px 0px 30px 0px rgb(20,20,20) inset;
}
.card-full h4{
    opacity: 1;
    font-size: 22px;
}
.card-full p{
    padding: 15px;
}
.card-full div.imgSection{
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-full div img{
    opacity: 1;
    display: block;
    width: 500px;
    margin: 10px;
    padding: 0px;
    background-color: black;
}

#credits {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#credits *{
    color: black;
    font-size: 14px;
    font-family: monospace;
    font-weight: normal;
}

@media screen and (max-width: 700px){

    body{
        margin-top: 90px;
    }

    nav div h2{
        width: 100%;
    }
    
    /* .card-full div.imgSection{
        display: block;
    } */
    .card-full img{
        width: 100%;
    }

    i#hamburgerBtn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #hamburgerMenuContent{
        background-color: white;
        box-shadow: 0px 20px 20px -20px rgb(20,20,20);
        flex-direction: column;
        justify-content: center;
        padding: 0;
        height: 200px;
        position: fixed;
        top: -250px;
        left: 0;
        right: 0;
        z-index: 0;
    }
    #hamburgerMenuContent.hamburgerMenuContent{
        top: 55px;
    }
    #hamburgerMenuContent a{
        width: 85%;
    }
}

/* Hamburger Btn Animation */
/* nav div i span{margin: 0;} */
.hamburgerBtnOpen span:nth-child(1){
    /* position: absolute;
    top: 20px; */
    margin: 0;
    transform: rotate(-40deg) translate(-2.2px, 0px);
}
.hamburgerBtnOpen span:nth-child(2){ /* nav div i span:nth-child(2) */
    /* position: absolute;
    top: 20px; */
    margin: 0;
    transform: rotate(40deg) translate(-2.2px, 0px);
}
