body, body *{
    margin: 0;
    padding: 0;
    font-family: 'Yusei Magic', sans-serif;
    color: indigo;
}

body{
    background-color: rgb(240, 240, 220);
    margin-top: 130px;
    transition: all 0.4s;
}

body.dark *{
    color: white;
}
.dark{
    background-color: rgb(20,20,20);
}
nav.dark, nav.dark div{
    background-color: rgb(46, 46, 60);
    /* box-shadow: 0px -4px 40px 0px rgb(130,130,130); */
}

nav{
    background-color: white;
    color: indigo;
    /* padding: 10px; */
    display: flex;
    box-shadow: 0px -4px 40px 0px rgb(20,20,20);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    transition: all 0.4s;
}
nav div{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    transition: all .5s;
}
nav div:nth-child(1){
    justify-content: flex-start;
    /* background-color: white; */
    position: relative;
    z-index: 3;
}
nav div .spacer{
    width: 20px;
    /* border: 2px red solid; */
}
nav div, nav a{
    position: relative;
}
#hamburgerBtn{
    height: 100%;
    padding: 5px;
    cursor: pointer;
    display: none;
    /* position: absolute;
    right: 0; */
}
nav div i span{
    /* position: relative;
    top: 0;
    display: block; */
    background-color: indigo;
    width: 30px;
    height: 3px;
    border: indigo;
    transition: all .3s;
}

nav div i span:nth-child(1){margin: 4px 0;}
nav div i span:nth-child(2){margin: 4px 0;}

nav a{
    background-color: rgba(220,200,240,0.5);
    border-bottom: 2px indigo solid;
    text-decoration: none;
    text-align: center;
    margin: 2px;
    padding: 20px;
    cursor: pointer;
    transition: all .3s;
}
nav a:hover{
    color: white;
    background-color: indigo;/* Antiguo color : rgb(174, 64, 96) */
}

#languajeBtn{
    height: calc(100% - 10px);
    min-height: 30px;
    border: 2px indigo solid;
    padding: 6px 18px;
    cursor: pointer;
}
#languajeSelect{
    opacity: 0;
    position: absolute;
    top: -90px;
    /* left: 80px; */
    right: 30px;
    width: auto;
    transition: top .5s, opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}
#languajeSelect.active{
    opacity: 1;
    top: 91px;
}
#languajeSelect button{
    color: indigo;
    border: 2px indigo solid;
    background-color: white;
    padding: 4px 17px;
    cursor: pointer;
    transition: all .5s;
}
#languajeSelect.active button:hover{
    border: 2px white solid;
    color: white;
    background-color: indigo;
}
nav.dark div #languajeBtn{
    background-color: transparent;
    /* border: white solid; */
}
nav.dark div #languajeBtn:hover{
    /* background-color: indigo; */
    opacity: 0.5;
}

#aboutSecction{
    background-color: rgba(150,150,180,0.4);
    width: 80vw;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

main #main-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1,h2{
    text-align: center;
}
#title h3{
    text-align: center;
}

/* #proyectos{
    padding-top: 100px;
} */

/* Nuevo diseño */
.card-full{
    /* display: block; */
    color: white;
    margin: 20px 0;
    padding: 30px;
    /* border-radius: 10px; */
}
.card-full *{
    color: black;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.5s;
}
.build-in{
    opacity: 1;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* max-width: 400px; */
}
.build-in div{
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.build-in i{
    font-size: 36px;
    padding: 6px;
}
.card-full a{
    display: block;
    text-align: center;
    max-width: 480px;
    margin: 10px auto;
    padding: 4px 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px rgb(20,20,20) inset;
}
.card-full a i{
    font-size: 16px;
    color: black;
    background-color: white;
    border-radius: 50px;
    padding: 3px 4px;
}
.card-full a:hover{
    color: white;
    opacity: 1;
    /* padding: 4px 30px; */
    /* border-radius: 30px; */
    box-shadow: 0px 0px 50px 0px rgb(20,20,20) inset;
}
.card-full a:hover i{
    opacity: 1;
    transform: translateX(10px);
}
.card-full h4{
    opacity: 1;
    font-size: 22px;
}
.card-full h5{
    font-size: 18px;
    margin: 10px 0;
}
.card-full div.imgSection{
    /* width: 300px; */
    opacity: 1;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-around; */
    flex-wrap: nowrap;
    overflow: hidden;
}
.card-full div.imgSection img{
    opacity: 1;
    background-color: rgb(60,60,60);
    display: inline;
    width: 500px;
    margin: 10px;
    padding: 1px;
    border-radius: 5px;
}
.card-full div.imgSectionPrueba{
    opacity: 1;
    width: 70vw;
    max-width: 1200px;
    margin: auto;
    position: relative;
    /* height: 200px; */
    display: flex;
    overflow: hidden;
}
.mySlide{
    opacity: 1;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}
.mySlide img{
    opacity: 1;
    width: 70vw;
    max-width: 1200px;
}

button.prev, button.next{
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-size: 26px;
    padding: 10px;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
button.prev{
    left: 0;
    border-radius: 0px 5px 5px 0px;
}
button.next{
    right: 0;
    border-radius: 5px 0px 0px 5px;
}
button.prev:hover, button.next:hover{
    background-color: rgb(10,10,10);
}

.separator{
    display: flex;
    width: 80%;
    max-width: 500px;
    margin: 40px auto;
}
.separator hr{
    width: 20%;
    max-width: 80px;
    margin: auto;
    opacity: 0.5;
    border: 2px indigo solid;
    border-radius: 3px;
}

.info-card-dark{
    background-color: rgb(46, 46, 60);
}
.info-card-dark *{
    color: rgb(220, 220, 220);
}
#profile{
    height: 240px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#profile *{
    text-align: center;
}
#contact-links-section{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

#credits {
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#credits *{
    /* color: black; */
    font-size: 16px;
    font-family: monospace;
    font-weight: normal;
}

@media screen and (max-width: 900px){

    body{
        margin-top: 90px;
    }

    nav div h2{
        width: 100%;
    }

    i#hamburgerBtn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #hamburgerMenuContent{
        background-color: white;
        box-shadow: 0px 20px 20px -20px rgb(20,20,20);
        flex-direction: column;
        justify-content: center;
        flex-shrink: 5;
        padding: 0;
        /* height: 200px; */
        position: fixed;
        top: -250px;
        left: 0;
        right: 0;
        z-index: 0;
    }
    #hamburgerMenuContent.hamburgerMenuContent{
        padding: 20px 0;
        top: 55px;
    }
    #hamburgerMenuContent a{
        width: 85%;
    }
    #hamburgerMenuContent.dark{
        background-color: black;
    }

    #languajeBtn{
        padding-top: 2px;
        padding-bottom: 2px;
    }
    #languajeSelect{
        opacity: 0;
        position: absolute;
        top: -90px;
        right: 70px;
        width: auto;
    }
    #languajeSelect.active{
        opacity: 1;
        top: 56px;
    }
}

@media screen and (max-width: 320px){
    #languajeBtn{
        padding-left: 2px;
        padding-right: 2px;
    }
}

/* Hamburger Btn Animation */
/* nav div i span{margin: 0;} */
.hamburgerBtnOpen span:nth-child(1){
    /* position: absolute;
    top: 20px; */
    margin: 0;
    transform: rotate(-40deg) translate(-2.2px, 0px);
}
.hamburgerBtnOpen span:nth-child(2){ /* nav div i span:nth-child(2) */
    /* position: absolute;
    top: 20px; */
    margin: 0;
    transform: rotate(40deg) translate(-2.2px, 0px);
}
